<h1> profile </h1>
<%= render @user %>
<% flash.each do |type,msg| %>
  <p class='alert alert-danger' role='alert'>
    <%= msg %>
  </p>
<% end %>
<%= form_with url: '/main/relay2', method: 'post', data: {turbo: false} do |form| %> 
    <%= form.label :newpassword, style: "display: block",class: "form-text" %>
    <%= form.password_field :newpassword,class: "form-control" %><br>
    <%= form.label :newpasswordconfirm, style: "display: block",class: "form-text" %>
    <%= form.password_field :newpasswordconfirm,class: "form-control" %><br>
    <%= form.submit text="Changepassword",class: "btn btn-primary"%>
<%end%>