<br>
<div class="container" id="<%= dom_id user %>">
  <div>
    <p class="text-dark">
      <strong>Email:</strong>
      <%= user.email %>
    </p>
  </div>
  <p class="text-dark">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p class="text-dark">
    <strong>User type:</strong>
    <% check =  user.user_type.to_i%>
    <%case check%>
    <%when 0 %>
      <%= "admin" %>
    <%when 1 %>
      <%= "seller" %>
    <%when 2 %>
      <%= "buyer" %>
    <% end %>
  </p>


</div>
