<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Image:</stong>
    <%= image_tag rails_blob_path(item.image.variant(:thumb), disposition: "attachment") %>
  </p>

  <p>
    <strong>Enable:</strong>
    <%= item.enable %>
  </p>

</div>
