<h1>My Inventory</h1>
<div id="my_item">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @markets.each do |market| %>
        <tr>
          <td>
            <% if market.item.image.attached? %>
              <%= image_tag rails_blob_path(market.item.image.variant(:thumb), disposition: "attachment"), class: 'rounded' %>
            <% end %>
          </td>
          <td>
            <%= market.item.name %>
          </td>
          <td>
            <%= market.item.category %>
          </td>
          <td>
            <%= market.price %>
          </td>
          <td>
            <%= market.stock %>
          </td>
          <td>
            <%= link_to "Edit", edit_item_inventory_path(market.id), class: 'btn btn-warning' %>
            <%= link_to "Delete", delete_inventory_path(market.id), method: :delete, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Add Item", add_item_to_sell_path, class: 'btn btn-primary' %>
